<% include /partials/header %>

<div class="container">
 <div class="row">
 	<div id="landing" class="col-md-9">
 		<h1>Welcome to Ramen Hall</h1>

		<a class="location" href="/ramenspot">View Ramen Locations</a>
 	</div>
</div>

 </div>


<% include /partials/footer %>