<% include /partials/header %>

<form id="signLog" action="/login" method="post">
	<h1>Log in</h1>
	<hr>
	<div class="form-group">
		<input type="text" name="username" placeholder="username">
		<input type="password" name="password" placeholder="password">

		<input id="button" type="submit" name="" value="Login">
	</div>
</form>


<% include /partials/footer %>