

<form action="/login" method="post">
	<div class="form-group">
	
	<input type="text" name="username" placeholder="username">
	<input type="password" name="password" placeholder="password">

	<input type="submit" name="" value="Log in!">
	</div>
</form>


<% include /partials/footer %>