<% include /partials/header %>



<form id="signLog" action="/signup" method="post">
	<h1>Sign up</h1>
	<hr>
		<input type="text" name="firstname" placeholder="first name">
		<input type="text" name="lastname" placeholder="last name">
		<input type="text" name="username" placeholder="username">
		<input type="password" name="password" placeholder="password">
		<input id="button" type="submit" name="" value="Sign up">
</form>

<% include /partials/footer %>