@import 'https://fonts.googleapis.com/css?family=Lato:100,300,400,700,400italic,700italic';
@import 'https://fonts.googleapis.com/css?family=Raleway:500,700';


body {
  
    background: url("/img/ramen4.png");
    background-size: cover;
    background-position: center; 
    transition: background 1.5s linear;
    -webkit-backface-visibility: hidden;
    webkit-transition: background-image 1.5s linear;
    -webkit-transform:translate3d(0,0,0);
}

/*Layout for page*/
#homepage {
	border: 2px solid #000;
	background: #fff;
  position: absolute;
  font-weight: 300;
  width: 300px;
  height: 50%;
  z-index: 15;
  top: 40%;
  left: 50%;
  margin: -100px 0 0 -150px;
}
/* */
#landing p > a {
	color: #000;
	font-weight: 800;
	text-decoration: none;
}

/* Landing title RAMEN HALL*/
h1 {
	text-align: center;
	color: #fff;
	font-family: 'Lato', 'sans-serif';
	font-size: 120px;
	font-weight: 800;
	text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

h3 {
	font-family: 'Lato', 'sans-serif';
	text-align: center;
	color: #fff;
	text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);

}
/* Modal title */
h4 {
	font-family: 'Lato', 'sans-serif';
	text-align: center;
}

hr {
	width: 55%;
}

/* Modal styling */
.modal-header {
	height: 55px;
}

.modal-content {
	border-radius: 0;
}

.modal-footer .btn {
	border-radius: 0;
	color: #fff;
}

.modal-footer .btn-primary > a {
	color: #fff;
	text-decoration: none;
}


.modal-title {
	color: #000;
	font-family: 'Lato', 'open sans';
	font-weight: 300;
}

.modal-body {
	color: #000;
	font-family: 'Lato', 'open sans';
	font-weight: 100;
}
button {
	margin-bottom: 100px;
}

#howBtn, #try {
	background: none;
	color: #fff;
	outline: none;
	padding: 12px 22px;
	margin-bottom: 10px;
	border: none;
	border-radius: 0;
	font-weight: 300;
	margin-left: 500px;
	text-decoration: none;
	position: fixed;
}


.join, #howBtn:hover,
#try>a:hover {
	color: #000;
	font-weight: 300;
	text-decoration: none;
}

button .navbar-toggle .collapsed {
	border: solid 1px #000;
}

body,
html {
    width: 100%;
    height: 100%;
    /*font-family: "Lato";*/
}

@media (min-width : 320px) and (max-width: 767px) {
	body{
		padding-top: 60px;
		padding-bottom: 60px
	}

	#howBtn, #try {
		margin-left: 140px;
		position: fixed; ;
	}

}