@import 'https://fonts.googleapis.com/css?family=Lato:100,300,400,700,400italic,700italic';
@import 'https://fonts.googleapis.com/css?family=Raleway:500,700';

* {
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  font-family: 'Lato';
}

body {
  padding: 70px 0 120px 0;
  background-color: #fff;
  overflow: scroll;
}

.navbar {
	font-family: 'Lato', sans-serif;
	background: #c0392b;
	padding: 10px;
	font-weight: 100;
	border: none;
}
.navbar .navbar-brand {
	color: #fff;
	font-size: 2.5em;
	font-weight: 100;
}
/*special effect*/
.navbar .navbar-brand:hover {
	color: #fff;
}

.navbar .navbar-right > li > a {
		color: #fff;
		background: none;
		padding-bottom: 5px;
}
.navbar .navbar-right > li:hover {
	border-bottom: 1px solid #fff;
	background: none;
}

#brand {
	padding: 14px 14px 14px 0px;
	border-right: 2px solid #fff;
}

div.homepage {
	padding-top: 105px;
}
.thumbnail img {
	padding: 0 8px 0 8px;
	width: 100%;
}

.thumbnail {
	padding: 0;
	border-top: 20px solid #000;
	box-shadow: 3px 3px 5px #888888;
}

.thumbnail .caption-full {
	padding: 15px;
}

#delete-form {
	display: inline;
}


a.location {
	color: #000;
	text-decoration: none;
}

.lead > a {
	text-decoration: none;
	color: #000;
}

#signLog {
		text-align: center;
    width: 500px;
    padding: 30px;
    background: #FFFFFF;
    margin: 50px auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
}

#signLog input {
	box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  display: block;
  width: 100%;
  padding: 7px;
  border: none;
  border-bottom: 1px solid #ddd;
  background: transparent;
  margin-bottom: 10px;
  font: 16px 'Lato', Arial, Helvetica, sans-serif;
  height: 45px;
}

#signLog #button {
	 -moz-box-shadow: inset 0px 1px 0px 0px #1abc9c;
    -webkit-box-shadow: inset 0px 1px 0px 0px #1abc9c;
    box-shadow: inset 0px 1px 0px 0px #1abc9c;
    background-color: #16a085;
    border: 1px solid #16a085;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
    width: 30%;
}

#signLog #button:hover {
	background-color: #1abc9c;
}

.footer {
	background: #000;
	color: #fff;
	width: 100%;
	position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  text-decoration: none;

}

.footer p, a {
	padding: 15px 0;
	margin: 0;
	color: #fff;
	text-decoration: none;
	font-weight: 100;
}
.jumbotron {
	border-top: none;
	background-color: #ecf0f1;
	box-shadow: 3px 3px 5px #888888;
}

#welcome {
	font-family: 'Raleway';
	font-weight: 700;
}

#rsContainer {
	text-align: center;
	padding: 0;
	margin-top: 0;

}

a .btn .btn-primary .btn-md {
	background: #2c3e50
}

#userLogged {
	margin-top: 16px; 
	border-bottom: none;
	font-weight: 300;
}

/*comment header*/
#comments {
	padding:0 auto;
}

@media (max-width: 979px) {
  body {
    padding-top: 75px;
  }

li .li-list-group a #returnHome {
    text-align: center;
    text-decoration: none;
    color: #000;
    font-size: 1.2em;
    font-weight: 500;
}

  #brand {
	padding: 15px 15px 15px 0px;
	border-right: 2px solid #fff;
	margin-bottom: -10px;
}

  p {
  	font-size: 12px;
  }
}

