<% include /partials/header %>
	<link rel="stylesheet" type="text/css" href="stylesheets/main.css">
<div class="container" id="rsContainer">
	<header class="jumbotron">
		<div class="container">
			<h1 id="welcome">Welcome to Ramen Hall</h1>
				<p>Checkout and review ramen shops around Seattle!</p>
		</div>
				<p>
						<a class="btn btn-primary btn-md" href="/ramenspot/new">Add Ramen Review</a>
				</p>
	</header>
	<div class="row text-center" style="display: flex; flex-wrap: wrap;">
			<% rlocations.forEach(function(rlocation){ %>
				<div class="col-md-3 col-sm-6">
					<div class="thumbnail">
							<img src="<%= rlocation.image %>">
						<div class="caption">
							<h4><%= rlocation.name %></h4>
						</div>
						<p>
						<a href="/ramenspot/<%= rlocation._id %>" class="btn btn-primary">More Info</a>
						</p>
					</div>
						
			</div>
			<% }); %>
	</div>

</div>

<% include /partials/footer %>